
.order-list-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}
.order-list-container h2 {
    color: white;
    font-family: 'lobster', cursive;
    font-size: 3rem;
}


.order {
    /* position: sticky;
    top: 40px; */
    margin-top: 0.95rem;
    background-color: white;
    color: #B63D5F;
    border: 3px solid #B63D5F;
    width: 60%;
    padding: 1.5rem;
    font-size: 0.85rem;
}

.total-continue-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0rem 1rem;
}

.total-continue-container h3 {
    font-family: "lobster";
    font-size: 1.5rem;
    margin: 0;
}


.total-tax, .total-amount {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.total-tax p, .total-amount p {
    color: black;
    font-weight: 700;
}

.continue-button-container {
    margin-top: 1rem;
}

.continue-order-button {
    background-color: white;
    border: 2px solid #B63D5F;
    color: #B63D5F;
    width: 175px;
    padding: 0.25rem;
    font-family: "open sans", sans-serif;
    transition: all 0.5s;
}

.continue-order-button:hover {
    color: white;
    background-color: #B63D5F;
    letter-spacing: 1px;
}
