@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.nav-container {
    width: 100%;
    background-color: #B63D5F;
    height: 7vh;
}

.nav-container button {
    color: white;
    background-color: #B63D5F;
    padding: 0;
    margin: 0;
    height: 7vh;
    padding: 0 1rem;
    width: 12vw;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    transition: all 0.5s;
}

.nav-container button:hover {
    background-color: white;
    color: #B63D5F;
}